.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px; /*원을 만들려면 사각형 width의 반을 값으로 쓴다.*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}